<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>出欠管理の看板</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>矢向フットサル部<br>出欠管理の看板</h1>
 
    <div class = "tripleColumn">
        <div class ="firstColumn">
            <% people.forEach((person,index) => { %>
                <% if (index < 7) { %>
                    <div class = "block">
                        <div class = "person">
                            <p> <%= person.name %> </p>
                        </div>
                        <div class = "car">
                            <p> <%= person.car %> </p>
                        </div>
                        <div class = "attendance">
                            <% if (person.attendance == 1){ %>
                            <p class ="yes">出席</p>
                            <p class ="no unvisible">欠席</p>                            
                            <% } else {%>
                            <p class ="yes unvisible">出席</p>
                            <p class ="no ">欠席</p>
                            <% } %>
                        </div>
                        <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
                    </div>
                <% } %>
            <% }) %>  
        </div>
        <div class ="secondColumn">
            <% people.forEach((person,index) => { %>
                <% if((7 <= index) && (index < 14)){ %>
                    <div class = "block">
                        <div class = "person">
                            <p> <%= person.name %> </p>
                        </div>
                        <div class = "car">
                            <p> <%= person.car %> </p>
                        </div>
                        <div class = "attendance">
                            <% if (person.attendance == 1){ %>
                            <p class ="yes">出席</p>
                            <p class ="no unvisible">欠席</p>                            
                            <% } else {%>
                            <p class ="yes unvisible">出席</p>
                            <p class ="no ">欠席</p>
                            <% } %>
                        </div>
                        <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
                    </div>
                <% } %>
            <% }) %>
        </div>
        <div class ="thirdColumn">
            <% people.forEach((person,index) => { %>
                <% if((14 <= index) && (index < 21)){ %>
                    <div class = "block">
                        <div class = "person">
                            <p> <%= person.name %> </p>
                        </div>
                        <div class = "car">
                            <p> <%= person.car %> </p>
                        </div>
                        <div class = "attendance">
                            <% if (person.attendance == 1){ %>
                            <p class ="yes">出席</p>
                            <p class ="no unvisible">欠席</p>                            
                            <% } else {%>
                            <p class ="yes unvisible">出席</p>
                            <p class ="no ">欠席</p>
                            <% } %>
                        </div>
                        <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
                    </div>
                <% } %>
            <% }) %>
        </div>               
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.addEventListener('load', function(){
            const socket = io();
            
            const btnElems = document.getElementsByClassName("btn");
            const yesElems = document.getElementsByClassName("yes");
            const noElems = document.getElementsByClassName("no");
            let beforteIsAttend;let afterIsAttend;
            Array.prototype.forEach.call(btnElems, function(btnElem,index){
                btnElem.addEventListener("click",function(){
                    const yesElem = yesElems[index];
                    const noElem = noElems[index];

                    if (!yesElem.classList.contains("unvisible")){
                        beforteIsAttend = 1;
                    } else{
                        beforteIsAttend = 0;
                    }
                    afterIsAttend = Math.abs(1-beforteIsAttend);
                    yesElem.classList.toggle("unvisible");
                    noElem.classList.toggle("unvisible");

                    socket.emit('sendMessage', {attendance:afterIsAttend,id:index+1});
                    console.log(`afterIsAttend is ${afterIsAttend}`);
                    console.log(`index is ${index}`);
                    socket.on('receiveMessage', (message) => {
                        console.log(message);
                    });                    
                })
            })

        });
    </script>
</body>
</html>